<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
<app-card-crud title="Template Form" [isDebug]="true" [form]="f">
    <section class="content">
                <div class="form-group" [ngClass]="aplicaCssErro(model.nome)">

                    <div class="col-sm-12">
                        <label for="nome" class="control-label">Nome</label>
                    </div>

                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="nome" id="nome" placeholder="nome" 
                            [(ngModel)]="usuario.nome" required>
                    </div>
                    <app-campo-control-erro 
                    [mostrarErro]="verificaValidTouched(f)" 
                    msgErro="Nome é obrigatório.">
                    </app-campo-control-erro>
                </div>
                <div class="form-group" [ngClass]="aplicaCssErro(model.email)">

                    <div class="col-sm-12">
                        <label for="email" class="control-label">Email</label>
                    </div>

                    <div class="col-sm-12">
                        <input type="email" class="form-control" name="email" id="email" placeholder="nome@email.com"
                            [(ngModel)]="usuario.email" required>
                    </div>
                    <app-campo-control-erro 
                    [mostrarErro]="verificaValidTouched(model.email)" 
                    msgErro="E-mail inválido.">
                    </app-campo-control-erro>
                </div>

                <div ngModelGroup="endereço">

                <div class="form-group">
                    <div class="col-md-3" [ngClass]="aplicaCssErro(model.cep)">
                        <label for="cep" class="control-label">CEP</label>
                        <input type="text" class="form-control" id="cep"
                         name="cep" required [(ngModel)]="model.cep"
                         (blur)="consultaCEP($event.target.value, f)">
                        <app-campo-control-erro 
                        [mostrarErro]="verificaValidTouched(model.cep)" 
                        msgErro="CEP é obrigatório.">
                        </app-campo-control-erro>
                    </div>

                    <div class="col-md-3" [ngClass]="aplicaCssErro(model.numero)">
                        <label for="numero" class="control-label">Número</label>
                        <input type="text" class="form-control" id="numero" name="numero" required
                        [(ngModel)]="model.numero">
                            <app-campo-control-erro 
                            [mostrarErro]="verificaValidTouched(model.numero)" 
                            msgErro="Número é obrigatório.">
                            </app-campo-control-erro>
                    </div>

                    <div class="col-md-6" [ngClass]="aplicaCssErro(model.complemento)">
                        <label for="complemento" class="control-label">Complemento</label>
                        <input type="text" class="form-control" id="complemento" name="complemento" required
                        [(ngModel)]="model.complemento">
                            <app-campo-control-erro 
                            [mostrarErro]="verificaValidTouched(model.complemento)" 
                            msgErro="Complemento é obrigatório.">
                            </app-campo-control-erro>


                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-12" [ngClass]="aplicaCssErro(model.rua)">
                        <label for="rua" class="control-label">Rua</label>
                        <input type="text" class="form-control" name="rua" id="rua" placeholder="rua"
                           [(ngModel)]="model.rua" required readonly>
                            <app-campo-control-erro 
                            [mostrarErro]="verificaValidTouched(model.rua)" 
                            msgErro="Rua é obrigatório.">
                            </app-campo-control-erro>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">

                            <div class="col-md-5" [ngClass]="aplicaCssErro(model.bairro)">
                                <label for="bairro" class="control-label">Bairro</label>
                                <input type="text" class="form-control" id="bairro" name="bairro" required
                                [(ngModel)]="model.bairro">
                                    <app-campo-control-erro 
                                    [mostrarErro]="verificaValidTouched(model.bairro)" 
                                    msgErro="Bairro é obrigatório.">
                                    </app-campo-control-erro>
                            </div>

                            <div class="col-md-4" [ngClass]="aplicaCssErro(model.cidade)">
                                <label for="cidade" class="control-label">Cidade</label>
                                <input type="text" class="form-control" id="cidade" name="cidade" required
                                [(ngModel)]="model.cidade">
                                    <app-campo-control-erro 
                                    [mostrarErro]="verificaValidTouched(model.cidade)" 
                                    msgErro="Cidade é obrigatório.">
                                    </app-campo-control-erro>
                            </div>

                            <div class="col-md-3" [ngClass]="aplicaCssErro(model.estado)">
                                <label for="estado" class="control-label">Estado</label>
                                <input type="text" class="form-control" id="estado" name="estado" required
                                [(ngModel)]="model.estado">
                                    <app-campo-control-erro 
                                    [mostrarErro]="verificaValidTouched(model.estado)" 
                                    msgErro="Estado é obrigatório.">
                                    </app-campo-control-erro>
                            </div>
                        
                        </div>
                    </div>
                </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Enviar</button>
                        </div>
                    </div>
                </div>
        </section>
    </app-card-crud>
</form>